<form action="/create_commande" method="GET" enctype="multipart/form-data">
    <label>Acheteur : </label>
    <input class="form-control" name="acheteur" type="text">

    <label>Nombre de repas : </label>
    <input class="form-control" name="nbRepas" type="number">

    <label>Nom repas : </label>
    <input class="form-control" name="nomRepas" type="text">

    <label>Date : </label>
    <input class="form-control" name="date" type="date">

    <label>Prix total : </label>
    <input class="form-control" name="prixTotal" type="number">

    <input type="Submit" value="Submit">
</form>